<!DOCTYPE html>
<html>
<head>
<title>Face/b/ook (HW 3)</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="icon" href="{{fav}}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{styleCss}}">
</head>
<body>
<div class="main">
	<nav>
		<a href="/"> Mainpage </a> | <a href="/settings"> Profile Settings </a> | <a href="/logout"> Logout </a>
	  | <a href="/story"> Blogs </a> | <a href="/newStory"> Add a post </a>
	</nav>
	<header>
		<h2> User Profile </h2>
	</header>
</div>
</body>
</html>